.encabezado {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    padding: 20px;
    background-color: #122135;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
     background-color: #122135;
    color: aliceblue;
    height: 50px;
    width: 200px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 20px;
    
 
}


button:hover {
    background-color: aliceblue;
    color: #122135;
    font-size: 20px; 
      font-family: Georgia, 'Times New Roman', Times, serif;
}




.pie {
    display: block;
    width: 100%;
    padding: 1px;
    box-sizing: border-box; /*evita que desacomode otras cosas*/
    text-align: right;
    background-color: #122135;
    color: aliceblue;
    
}




.columna-derecha {
    height: calc(100vh - 201px);
    padding: 20px;
    display: flex;
    flex-direction: column; /*PONE EL RECUADRO ABAJO*/
    gap: 20px;
    background-color: LightSteelBlue
    
}

.recuadro {
    background-color: #ECF1F8;
    padding: 20px;
     border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-left: 5px solid #122135;
}


